---
layout: default
description: "Blog of learning note"
---

<script type="text/javascript">


    var alpha01=255;
    setTimeout(OnTmer,100);
    function SetTimeout()
    {
        alert("ada");
        setTimeout(OnTmer,100);
    }
    
    
    function OnTmer ()
    {
    
    var div1=document.getElementById("splash01");
    div1.style.opacity=alpha01/255.0;
    alpha01-=8;
    if(alpha01>4)
    {
        setTimeout(OnTmer,100);
        
    }else{
        div1.style.visibility="hidden";
    }
    
    }
    
    
</script>
    
<div align="center" onload='SetTimeout()' id=splash01 style=" width: 100% ;height:100%;position:fixed; opacity:0.1; left:0px; top: 0px ;" >

    <div align="center" style=" width: 800px ;height:800px ;background-color:rgba(255,128,128,0) ; "  >
        
        <div align="center" style="vertical-align:center;">
            <img style="height:100%; " src=".\img\wingforpapilliodya.png" />
            
        </div>
        
        
    </div>
    
</div>


{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}